.up{
    width: 200px;
    height: 150px;
    background-color: gray;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.mid{
    padding-top: 10px;
    width: 200px;
    height: 150px;
    background-color: gray;
    clear: left;
    
    
}
.bot{
    width: 200px;
    height: 150px;
    background-color: gray;
    display: inline-block;
    margin-right: 10px;

}